<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/png" href="image1.jpg" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <p><%= post.id %></p>
    <h1><%= post.username %></h1>
    <form
      method="post"
      action="http://localhost:8080/posts/<%= post.id %>?_method=PATCH"
    >
      <textarea name="content" id="">
            <%= post.content %>
        </textarea
      >
      <button>submit</button>
    </form>
  </body>
</html>
