<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/png" href="/image3.jpg" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Create A Post</h1>
    <form method="post" action="/posts">
      <input type="text" name="username" placeholder="Write username" /><br />
      <textarea name="content" placeholder="Write Content"></textarea><br />
      <button>submit</button>
    </form>
  </body>
</html>
