<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/image4.jpg" />
  </head>
  <body>
    <button><a href="http://localhost:8080/posts"><---- Back</a></button>
    <h1><%= post.username %></h1>
    <h3><%= post.content %></h3>
    <p><%= post.id %></p>
  </body>
</html>
